.board-row {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
}

.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.turn{
    display: flex;
    justify-content: center;
    align-items: center;
}